@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Signika Negative', sans-serif;
}

nav {
    grid-area: nav;
    margin: 0;
}
.nav_button_selected{
    font-family: 'Tilt Warp', cursive;
}
.nav_button{
    font-family: 'Tilt Warp', cursive;
}

header {
    display: block;
    grid-area: header;
    background-image: url(starry_sky.jpg);
    background-position: center;
    background-size: 150%;
    background-color: rgb(39, 70, 144);
    color: white;
    animation: fadeIn 2s;
    text-align: center;
}
#clicked > header:nth-child(3) > h1:nth-child(1){
    font-family: 'Tilt Warp', cursive;
}

.Portfolio{
    border: 0.5em solid rgb(62, 22, 75);
    border-radius: 0.4em;
    padding: 1em;
}
.outer_portfolio {
    padding: 0.2em;
}

aside {
    grid-area: aside;
    background-color: rgb(49, 19, 129);
    animation: fadeIn 2s;
    color: white;
}


main {
    grid-area: main;
    background-color: rgb(97, 61, 141);
    color: rgb(245, 243, 245);
    animation: fadeIn 3s;
}

footer {
    background-color: rgb(14, 16, 7);
    color: white;
    grid-area: footer;
}
h1{
    animation: appear 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
@keyframes appear{
    0%{
        color: transparent;
    }
    50%{
        color:black;
    }
    100%{
        color:white;
    }
}